<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<h1>{{ question.question_text }}</h1>

{% if error.message %}<p><strong>{{ error.message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question_id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice_id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% end for %}
<input type="submit" value="Vote">
</form>